<!DOCTYPE html>
<html>
<body>
  <p>Привіт!</p>
  <p>З'явилась нова ініціатива, яка може вас зацікавити:</p>
  <p><strong>{{initiative.title}}</strong></p>
  {{#if initiative.city}}<p>Місто: {{initiative.city}}</p>{{/if}}
  <p>Формат: {{initiative.format}}</p>
  <p>З повагою, команда VolonTi</p>
</body>
</html>
