<!DOCTYPE html>
<html>
<body>
  <p>Ваш одноразовий код підтвердження:</p>
  <h2>{{code}}</h2>
  <p>Код дійсний 10 хвилин. Не передавайте його нікому.</p>
  <p>З повагою, команда VolonTi</p>
</body>
</html>
